<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
</head>
<body bgcolor="black">
    <div align="center"><h2 style="font-family:Arial, Helvetica, sans-serif;; color:white;">{{title1}}</h2></div>
    <div align="center">
        <img src='{{ graph1 }}' />
    </div>
    <div align="center"><h2 style="font-family:Arial, Helvetica, sans-serif;; color:white;">{{title2}}</h2></div>
    <div align="center">
        <img src='{{ graph2 }}' />
    </div>
    <div align="center"><h2 style="font-family:Arial, Helvetica, sans-serif;; color:white;">{{title3}}</h2></div>
    <div align="center">
        <img src='{{ graph3 }}' />
    </div>
</body>
</html>